.auth {
  background-color: #212121;
  height: 100vh;
  display: grid;
  place-items: center;
}

.auth input {
  padding: 5px;
  margin-bottom: 20px;
}

.auth button {
  padding: 5px 10px;
}

.title {
  font-size: 24px;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}